.form-pop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    backdrop-filter: blur(1px);
}

.form-content {
    background-color: white;
    width: 520px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
}

.form-content::-webkit-scrollbar {
    width: 8px;
}

.form-content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.form-content::-webkit-scrollbar-thumb {
    background: #d1d1d1;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

.form-content::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

.item-content {
    display: flex;
    border: 1px solid rgb(205, 205, 205);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
}

.sub {
    padding: 20px;
    background-color: #EBEBEB;
    margin-top: 15px;
    border-radius: 4px;
}

.sub>div {
    display: flex;
    justify-content: space-between;
}

.form-item {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form-item label {
    font-weight: bold;
}

.form-item>div {
    margin-top: 3px;
    width: 100%;
    display: flex;
    align-items: center;
}

.form-item i {
    background-color: #E1E1E1;
    padding: 12px 15px;
    border: 1px solid rgb(200, 200, 200);
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-item input {
    border: 1px solid rgb(200, 200, 200);
    width: 100%;
    padding: 8px 10px;
    outline: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-finish {
    margin-top: 20px;
    width: 100%;
    padding: 10px 0;
    background-color: #393939;
    color: white;
    border: none;
    border-radius: 4px;
    transition: filter 0.2s ease;
    font-weight: bold;
}

.btn-finish:hover {
    filter: brightness(1.2);
}

.bills {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.bills>div {
    width: 230px;
    height: 100px;
    border-radius: 5px;
    cursor: pointer;
    filter: brightness(0.5);
}

.bills>div.active {
    filter: brightness(1);
}

.bills>div:hover {
    filter: brightness(1);
}


.bill-2 {
    background-color: #830F95;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bill-2 img {
    width: 80px;
}

.bill-3 {
    background-color: #393939;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    align-items: center;
    color: white;
}

.bill-3 .amount {
    text-decoration: underline;
    font-size: 0.85rem;
}

.input-cupon {
    width: 100%;
    padding: 10px 10px;
    outline: none;
    border: 1px solid rgb(156, 156, 156);
    text-transform: uppercase;
    border-radius: 5px;
}

.input-cupon:focus {
    border: 1px solid rgb(66, 66, 66);
}

.name-form {
    text-align: start;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
    font-weight: bold;
}

@media screen and (max-width:720px) {
    .name-form {
        width: 100px;
    }

    .bills {
        flex-wrap: nowrap;
    }

    .bills>div {
        width: 100%;
    }

    .form-content {
        width: 95%;
        margin-top: 110px;
    }
}