.flag {
    padding: 10px;
    background-color: #2277C7;
    color: white;
    animation: cambiar 6s ease infinite;
}

@keyframes cambiar {
    0% {
        background-color: #2277C7;
    }

    50% {
        background-color: #770F93;
    }

    100% {
        background-color: #2277C7;
    }
}

.inter {
    font-family: 'Satoshi', sans-serif;
}

.platform {
    font-family: 'Platform', sans-serif;
}

.text-wai {
    background: linear-gradient(to right, #0b8fe3, #25cc88);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.search-bar {
    display: flex;
    flex: 1;
    margin: 0 20px;
    padding: 5px;
    border-radius: 4px;
    align-items: center;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.search-bar input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-button {
    background: #7CB8F0;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
}

.search-button:hover {
    filter: brightness(1.1);
}

.search-c {
    display: flex;
    flex: 1;
    padding: 5px;
    border-radius: 4px;
    align-items: center;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.search-c input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-button {
    background: #7CB8F0;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
}

.search-button:hover {
    filter: brightness(1.1);
}

.navbar-right {
    display: flex;
    align-items: center;
}

.help-section {
    display: flex;
    cursor: pointer;
    align-items: center;
    background: #F8F8F8;
    padding: 5px 20px;
    border-radius: 4px;
    margin-right: 15px;
}



.help-section i {
    font-size: 2rem;
    color: #555;
    margin-right: 10px;
    transition: color 0.1s ease;
}

.help-text {
    display: flex;
    flex-direction: column;
}

.help-a {
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
    transition: color 0.1s ease;
}

.help-b {
    font-size: 0.85rem;
    color: #555;
    transition: color 0.1s ease;
}

.help-section:hover {
    color: #007BFF;
    transition: color 0.1s ease;
}

.help-section:hover i,
.help-section:hover .help-a,
.help-section:hover .help-b {
    color: #007BFF;
    /* Cambia el color de los elementos hijos */
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 15px;
    color: #333;
    font-size: 1.3rem;
}


.icon-button:hover {
    color: #007BFF;
}

.main-1 {
    background-image: url('https://benchmark-electronics-demo.myshopify.com/cdn/shop/files/dixit-dhinakaran-rIoBgeknZeY-unsplash_new3.jpg?v=1714426652&width=1500');
}

.main-2 {
    background-image: url('https://benchmark-electronics-demo.myshopify.com/cdn/shop/files/omid-armin-RiIpjkAy0qI-unsplash_new2.jpg?v=1727335213&width=1500');
}

.main-3 {
    display: flex;
    justify-content: end;
    background-image: url('https://benchmark-electronics-demo.myshopify.com/cdn/shop/files/elice-moore-E--AUpYXbjM-unsplash_new.jpg?v=1714506031&width=1500');
}

.main {
    margin-top: 10px;
    background-size: cover;
    border-radius: 15px;
    padding-left: 100px;
    pointer-events: none;
    display: flex;
    height: 500px;
    align-items: center;
    color: white;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.main-active {
    pointer-events: auto;
    max-height: 500px;
    opacity: 1;
}

.main>div {
    width: 400px;
}

.main h1 {
    font-size: 3.3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.main button {
    background-image: linear-gradient(to right, #bb81f9, #9335ec);
    border: none;
    color: white;
    margin-top: 10px;
    padding: 12px 15px;
    font-size: 0.9rem;
    border-radius: 4px;
    transition: filter 0.3s ease;
}

.main-1 button {
    background-image: linear-gradient(to right, #71B2F3, #369FD9);
    padding: 12px 20px;
}

.main-3 button {
    background: none;
    border: 1px solid white;
}

.main-3 button:hover {
    border: 2px solid white;
}

.main button:hover {
    filter: brightness(1.1);
}

.best-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.best {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 10px 0;
}

.best::-webkit-scrollbar {
    display: none;
}

.best {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.product-card {
    flex: 0 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.product-image {
    padding: 30px 50px;
}

.product-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.product-info h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.product-info p {
    margin: 5px 0;
    color: #555;
}

.details-button {
    width: 100%;
    margin-top: 15px;
    background: none;
    font-size: 0.9rem;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid black;
}

.details-button:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    z-index: 1;
}

.scroll-button:hover {
    background-color: rgba(255, 255, 255, 1);
}

.scroll-button.left {
    left: -15px;
}

.scroll-button.right {
    right: -15px;
}



.scroll-button i {
    font-size: 1.2rem;
    color: #333;
}

.bar {
    padding: 10px 0px;
    background-image: linear-gradient(to right, #BA6FED, #7CA8E5);
    overflow: hidden;
    white-space: nowrap;
}

.message {
    color: white;
    display: inline-flex;
    align-items: center;
    animation: scroll-left 20s linear infinite;
}

.message button {
    background: none;
    border: 1px solid white;
    border-radius: 4px;
    height: 50px;
    font-size: 0.8rem;
    color: white;
    padding: 0 20px;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.w-item {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bg {
    background-color: red;
}

.text-a {
    background: linear-gradient(to right, #FBB727, #F99520);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.text-b {
    background: linear-gradient(to right, #D75EEE, #BA36FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.text-c {
    background: linear-gradient(to right, #21F9EF, #15bdc3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.review-card {
    background-color: #121212;
    color: white;
    flex: 0 0 auto;
    border-radius: 8px;
    width: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.line {
    width: 30px;
    border: 0.5px solid rgb(85, 85, 85);
}

.f-item {
    width: 100%;
    display: flex;
    padding-left: 60px;
    align-items: center;
}

.f-item>div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.btn-contact {
    border: none;
    background: none;
    color: white;
    text-decoration: underline;
}

.menu-items {
    background-color: white;
    border: 1px solid #EBEBEB;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 5px 0;
    font-weight: bold;
}

.menu-items span {
    cursor: pointer;
    padding: 10px 5px;
}

.menu-items span:hover {
    color: #1C67C0;
}

.content-products {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
    margin-top: 40px;
}

.card-filter {
    background-color: white;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
}

.items-brand {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    flex-wrap: wrap;

}

.items-color {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    flex-wrap: wrap;

}


.items-color span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.items-filter {
    cursor: pointer;
}


.item-filter {
    width: 100%;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
}

.item-filter:hover {
    border: 1px solid gray;
}

.item-selected {
    border: 1px solid gray;
}

.top-list {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.top-list select {
    padding: 10px;
    border: 1px solid #AFAFAF;
    border-radius: 5px;
    width: 200px;
    font-size: 0.85rem;
    outline: none;
}

.top-list select:hover {
    border: 1px solid gray;
}

.item-product {
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.content-list {
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content-list>div {
    flex-grow: 1;
}

.content-list {
    justify-content: flex-start;
}

.content-list button {
    width: 100%;
    padding: 10px 0;
    border: 1px solid gray;
    font-weight: bold;
    background: none;
    border-radius: 5px;
    font-size: 0.8rem;
    transition: box-shadow 0.3s ease;
    margin-top: 20px;
}

.img-product {
    width: 100%;
    margin-top: 20px;
    height: 180px;
    object-fit: contain;
    transition: opacity 0.5s ease;
}


.btn-view {
    padding: 12px 30px;
    border: 1px solid gray;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 5px;
    background-color: white;
    transition: box-shadow 0.3s ease;
}

.label-new {
    background: linear-gradient(to bottom, #4F95C5, #61ADE0);
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
}

.list-color {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.btn-view:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.item-product button:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.img-product-2 {
    max-height: 0px;
    opacity: 0;
    transition: opacity 1s ease;
}

.item-product:hover .img-product-1 {
    max-height: 0px;
    opacity: 0;
}

.item-product:hover .img-product-2 {
    max-height: 180px;
    opacity: 1;
}

.boton-buscar {
    display: none;
}

.category-content {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.category-item {
    background-color: white;
    padding: 20px 0;
    border-radius: 10px;
    width: 100%;

}

.category-item>img {
    object-fit: contain;
    height: 160px;
    width: 100%;
    border-radius: 15px;
}

.content-old {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
}

.old-text {
    padding-left: 100px;
    display: flex;
    align-items: center;
}

.who-us {
    display: flex;
}

.content-vibra {
    text-align: center;
}

.content-trust {
    display: flex;
    color: white;
    padding: 20px 0;
    gap: 20px;
    width: 100%;
    overflow-x: auto;
}

.footer-content {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    gap: 20px;
}

.menu-2 {
    background-color: white;
    position: fixed;
    top: 101px;
    bottom: 0;
    left: 0;
    width: 80%;
    border-top: 1px solid rgb(234, 234, 234);
    font-size: 1.1rem;
    z-index: 1000;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    overflow: hidden;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.boton-menu {
    display: none;
    width: 30px;
    height: 30px;
}

.menu-2-active {
    transform: translateX(0);
    opacity: 1;
}

.menu-2 ul {
    list-style: none;
    margin-top: 20px;
}

.menu-2 li {
    padding: 10px 0;
}

.menu-2 .icons {
    font-size: 1.5rem;
    display: flex;
    gap: 20px;
}

.country {
    margin: 0px 20px;
    padding: 10px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(57, 57, 57);
    justify-content: center;
    border-radius: 5px;
}

.country img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.list-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.tab-filter {
    justify-content: space-between;
    padding: 15px 20px;
    margin-top: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: none;
}

.tab-filter button {
    background: none;
    border: none;
}



.t-filter {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.t-filter button {
    background: none;
    border: none;
    font-size: 1.5rem;
}

.t-filter span {
    font-size: 1.3rem;
}

.c-filter {
    border-top: 1px solid rgb(217, 217, 217);
    padding: 10px 20px;
}

.c-filter>div:first-child {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.b-filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    gap: 10px;
    padding-bottom: 20px;
}

.b-filter>div {
    height: 90px;
    display: flex;
    border: 1px solid rgb(187, 187, 187);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 100%;
}

.p-filter {
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 140px;
}

.content-filter {
    position: absolute;
    z-index: 1000;
    background-color: white;
    width: 90%;
    bottom: 0;
    top: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.5s ease;
    border-right: 1px solid rgb(178, 178, 178);
}

.filter-visible {
    transform: translateX(0%);
    opacity: 1;
}

.b-down {
    padding: 20px 20px;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgb(204, 204, 204);
    background-color: white;
}

.b-down>button:first-child {
    border: none;
    background: none;
    color: #1967D2;
}

.b-down>button:last-child {
    padding: 8px 0;
    border: none;
    background-color: #3C4043;
    color: white;
    border-radius: 5px;
}

.search-card {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: none;
}

.search-card-active {
    display: block;
}

@media (max-width: 768px) {
    .scroll-button {
        display: none;
    }

    .tab-filter {
        display: flex;
    }

    .menu-filter {
        display: none;
    }

    .top-list {
        display: none;
    }



    .boton-menu {
        display: inline-block;
    }

    .list-products {
        grid-template-columns: 1fr 1fr;
    }

    .content-products {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    body {
        padding-top: 100px;
    }

    .f-item {
        gap: 10px;
        padding: 0;
        width: 400px;
        margin: 0 10px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
    }

    .f-item>div {
        width: 100px;
        margin-left: 5px;
    }

    .content-vibra>img {
        width: 100%;
    }

    .who-us {
        flex-direction: column;
    }

    .search-bar {
        display: none;
    }

    .old-text {
        padding: 0;
    }

    .content-old {
        display: flex;
        flex-direction: column;
    }

    .category-item>img {
        height: 80px;
    }

    .category-item>h5 {
        font-size: 1rem;
    }

    .navbar-right {
        width: 100%;
        justify-content: space-between;
    }

    .category-item {
        width: 160px;
        flex-shrink: 0;
    }

    .menu-items {
        display: none;
    }

    .boton-buscar {
        display: inline-block;
    }

    .help-section {
        display: none;
    }

    .main {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;
        height: 500px;
        border-radius: 0;
    }

    .main>div {
        width: 100%;
    }

    .best-container {
        margin: 7px 0;
    }

    .best {
        margin: 0 20px;
    }

    .scroll-button {
        width: 30px;
        height: 30px;
    }

    .left {
        transform: translateX(10px);
    }

    .right {
        transform: translateX(-10px);
    }

    .product-card {
        width: 250px;
    }
}